
.home_sustainbility {padding-block: 25rem 16rem;}
.home_sustainbility .font_title>blockquote{margin-bottom:8rem;}
.sustainbility-content p { font: var(--font-16); color: #57585A; letter-spacing: 0.38px; }
.sustainbility-content figure { margin-bottom: 3.5rem; }

