
/*leadership css start here*/
.leadership {
    padding-block: 12rem; }

.leadership blockquote {
    font: var(--font-28);
    color: var(--color-23);
    font-weight: 300;
    margin-bottom: 9rem;
}

.leadship_img {
    display: grid;
}

.leadship_img>* {
    grid-area: 1/1;
}

.leadership_detail {
    width: 67rem;
    margin-left: auto;
    margin-right: 18rem;
    padding-top: 20rem;
}

.leadership_detail p {
    font: var(--font-24);
    letter-spacing: -0.24px;
    margin-bottom: 9rem;
}

.leadership_detail h2 {
    font: var(--font-32);
    font-weight: 500;
    letter-spacing: -0.96px;
    margin-bottom: .5rem;
}

.leadership_detail h3 {
    font: var(--font-24);
    font-weight: 300;
    letter-spacing: 1.2px;
    margin-bottom: 0rem;
}

.lead_content_grid {
    display: grid;
    grid-template-columns: 41% 48.6%;
    gap: 12.5rem;
}

.lead_right {
    background: var(--color-c8);
    border-radius: 8px;
    text-align: center;
    padding-inline: 12rem; padding-block: 6rem; margin-top: -30rem;
}

.lead_left p {
    font: var(--font-18);
    margin-bottom: 3rem;
    line-height: 1.5;
}

.deail_thumb {
    text-align: left;
    color: #fff;
    margin-top: 2.5rem;
}

.leader_news_thumb img {
    width: 100%;
}

.deail_thumb p, .lead_ful_content p {
    font: var(--font-18);
    font-weight: 300;
}

.lead_ful_content {
    margin-top: 5.8rem;
}

.deail_thumb blockquote {
    font: var(--font-32);
    font-weight: 300;
    margin-top: 2rem;
    padding-inline: 0 1rem;}

.leader_news_thumb figure {
    box-shadow: 0px 22px 23px #00000029;
    border-radius: 8px;
}

.leadership_detail2 {
    padding-bottom: 10rem;
}