.inner-section { background-color: #d1d2d46b; padding-block: 4.6rem 6.4rem; padding-top: 28rem;}
.inner-text h1 { font: var(--font-46); color: var(--color-c8); letter-spacing: -1.38px; margin-bottom: 2.5rem; font-weight: 300; }
.inner-text blockquote { font: var(--font-28); color: var(--color-23); font-weight: 300; }
