.inner-section{ background: transparent radial-gradient(closest-side at 49% -33%, #FFFFFF 0%, #d1d2d491 100%) 0% 0% no-repeat padding-box; padding-block: 5.3rem 6.4rem; margin-top: 20.8rem;}

.inner-text h1 { font: var(--font-46); color: var(--color-c8); letter-spacing: -1.38px; margin-bottom: 2.5rem; font-weight: 600; }
.inner-text blockquote { font: var(--font-28); color: var(--color-23); font-weight: 300; line-height: 1.43; }


/* =====START RESPONSIVE=== */

@media(max-width:1199px){
    .inner-section { margin-top: 17.8rem; }
}

@media(max-width:991px){
    .inner-section {margin-top: 15.1rem; padding-block: 5.3rem 3.6rem; }
    .inner-text blockquote br { display: none; }
}

@media (max-width:768px) {
    .inner-section { margin-top: 9.1rem; }
}

@media(max-width:640px){
    .inner-section { padding-block: 5.3rem 4.4rem; }
}

@media (max-width:480px) {
    .inner-section { padding-block: 4.2rem 3rem; }
    .inner-text h1 { margin-bottom: 2rem; }
}