/* --- Header Wrapper --- */

.header {position: fixed;top: 0;left: 0;width: 100%;z-index: 9999;transition: transform 0.4s ease;background: var(--color-ef);border-top: 5px solid var(--color-d4);/* overflow: hidden; */}
.header.hide-header { transform: translateY(-100%); }
.header.inner-header{ background: #dededffa; position: fixed; transform: inherit;}
.header.inner-header.hide-header {
    background: #ebebebfa;
}
.header_nav { display: flex; justify-content: space-between; align-items: center; padding-block: 4rem; position: relative; width: 100%; }
.main-nav { margin-left: auto; }
.main-nav ul { display: flex; gap: 6rem; list-style: none; margin: 0; padding: 0; }
.main-nav ul li a { text-decoration: none; color: var(--color-23); font: var(--font-24); font-weight: normal; transition: color 0.3s ease; }
.main-nav ul>li>a:hover { color: var(--color-c8) }
.main-nav ul li:hover > a { color: var(--color-c8) }
.site_dropdown { position: relative; }
.site_dropdown::after { content: ""; position: absolute; left: 0; right: 0; top: 100%; height: 2rem; z-index: 10; }
.main-nav .site_dropdown_menu { background-color: var(--color-c8); opacity: 0; visibility: hidden; pointer-events: none; z-index: 11; display: flex; flex-direction: column; gap: 0; min-width: 30rem; max-width: 30rem; padding: 0; position: absolute; top: calc(100% + 2rem); left: 0; transform: translateY(0); transition: opacity .3s ease, visibility .3s ease; box-shadow: 0 2px 5px #0000001a; }
.main-nav .site_dropdown:hover .site_dropdown_menu { opacity: 1; visibility: visible; pointer-events: auto; }
.main-nav .site_dropdown_menu a { font: var(--font-18); color: var(--color-white); padding: 1rem 2rem; display: block; }
.main-nav .site_dropdown_menu a:hover { color: var(--color-c8); background-color: var(--color-white); }
.main-nav .site_dropdown_menu li { border-bottom: .1rem solid #0000001a; padding: 0; width:100%;}
 /* --- Hamburger Icon Style --- */
.hamburger { display: flex; flex-direction: column; justify-content: space-between; width: 3rem; height: 3rem; cursor: pointer; z-index: 1050; position: relative; margin-left: 6rem; }
.hamburger span { display: block; height: 1px; width: 100%; background-color: var(--color-23); border-radius: 3px; transition: all 0.3s ease-in-out; transform-origin: left center; }
.hamburger.active span:nth-child(1) { transform: rotate(45deg); top: 0.6rem; position: relative; }
.hamburger.active span:nth-child(2) { width: 0%; opacity: 0; }
.hamburger.active span:nth-child(3) { transform: rotate(-45deg); top: 1px; }
.other-links-drawer { position: fixed; top: 0; right: 0; width: 35rem; height: 100vh; background-color: #d7d7d7; box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1); 
    /* padding-block: 9rem; padding-inline: 4rem;  */
    z-index: 1000; box-sizing: border-box; transform: translateX(100%); transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1); }
    
.other-links-drawer.open { transform: translateX(0); }
.other-links-drawer .media-dropdown { display: none; }
.other-links-drawer ul { list-style: none; padding: 0; margin: 0; }
.other-links-drawer ul li a { text-decoration: none; color: var(--color-white); font: var(--font-24); font-weight: 500; transition: color 0.2s;outline:0; }
.other-links-drawer ul li a:hover { color: var(--color-white); }
.other-links-drawer.open ul { display: block; }
.other-links-drawer .media-dropdown { display: none; margin:0rem 0 0; padding: 0 0 0 1rem; list-style: none; position: absolute; }

.other-links-drawer .media-dropdown li a { font: var(--font-18); text-decoration: none; }
.other-links-drawer .media-toggle { display: flex; align-items: center; justify-content: space-between; }
.media-arrow { font-size: 2.2rem; line-height: 1; transition: transform 0.3s ease; }
.media-toggle.active .media-arrow { transform: rotate(45deg); }
.media-dropdown-wrap { opacity: 0; visibility: hidden; }
.media-dropdown-wrap.active { opacity: 1; visibility:visible;}
.nav-overlay { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.4); z-index: 999; opacity: 0; pointer-events: none; touch-action: pan-y; transition: opacity 0.3s ease; }
.nav-overlay.show { opacity: 1; pointer-events: auto; }
.logo a { display: flex; align-items: center; gap: 2.4rem; text-decoration: none; }
.logo p { margin: 0; color: #000; font: var(--font-18); text-decoration: none; width: 20rem; }
.logo img { display: block;width:100%; }
.logo figure { width: 16.4rem; }
.custom_link {
    background-color: var(--color-c8);
    padding-block: 7rem;
    padding-inline: 3rem;
}
.custom_link ul li {
    margin-bottom: 0;
    border-bottom: 1px dashed #fff;
    padding: 2rem 0;
}
.media-dropdown-wrap.active .media-dropdown{
    position: relative;
}
.other-links-drawer .media-dropdown li {
    margin-bottom: 0rem;
    border-bottom: 0px dashed #fff;
    padding: .6rem 0;
}
.media-dropdown li:first-child{margin-top: 2rem;}
ul.media-dropdown li a{position: relative;}

.cus-btn-link {
    padding-block: 5rem;
    padding-inline: 3rem;
}
.cus-btn-link ul li{padding-bottom: 2rem;}
.cus-btn-link ul li a{
    color: var(--color-23);
   font: var(--font-21);
}
.cus-btn-link ul li a:hover{
    color: var(--color-c8);
}



/*========================== MEGA MENU ==========================*/
.mega-left { padding-top: 2rem; }
.mega-menu {position: absolute;top: 100%;left: 0;width: 100%;background: var(--color-ef);opacity:0;visibility: hidden;/* transform: translateY(0rem); */transition: 0.45s ease;z-index: 99999;overflow: hidden;}
.mega-menu.show { opacity: 1; visibility: visible; transform: translateY(0); }
.mega-wrapper {display: grid;gap: 8.4rem;padding:6rem 0;grid-template-columns: 416fr 1475fr;}
.mega-left blockquote { font:var(--font-42); line-height: 1.2; font-weight: 300; margin: 0 0 3rem;letter-spacing: -1.26px; }
.mega-left blockquote span { color: var(--color-c8);display: block; }
.mega-btn { width:3.6rem; height:3.6rem; display: flex; align-items: center; justify-content: center; background: var(--color-c8); color: #fff; text-decoration: none;margin-bottom:12rem; }
.mega-count b {color: var(--color-c8);font:var(--font-91);margin: 0;font-weight: 300;letter-spacing: -3.64px;position: relative;line-height: 1.1;}
.mega-count p {color: var(--color-23);font: var(--font-21);line-height: 1.4;margin: 0;}
.mega-count {display: grid;grid-template-columns: 33% 69%;gap: 3.5rem;position: relative;padding-block: 3rem;padding-inline: 6rem;}
.mega-count b sup {font: var(--font-45);top: -1.2rem;position: absolute;font-weight: normal;}
.mega-count:after { content: ""; position: absolute; inset: 0; pointer-events: none; background: linear-gradient(#ff6b6b, #ff6b6b) top 14px left 14px / 7px 1px no-repeat, linear-gradient(#ff6b6b, #ff6b6b) top 14px left 14px / 1px 7px no-repeat, linear-gradient(#ff6b6b, #ff6b6b) top 14px right 14px / 7px 1px no-repeat, linear-gradient(#ff6b6b, #ff6b6b) top 14px right 14px / 1px 7px no-repeat, linear-gradient(#ff6b6b, #ff6b6b) bottom 14px left 14px / 7px 1px no-repeat, linear-gradient(#ff6b6b, #ff6b6b) bottom 14px left 14px / 1px 7px no-repeat, linear-gradient(#ff6b6b, #ff6b6b) bottom 14px right 16px / 7px 1px no-repeat, linear-gradient(#ff6b6b, #ff6b6b) bottom 14px right 15px / 1px 7px no-repeat; top: -15px; left: -15px; right: -16px; z-index: 9; bottom: -15px; }
@media (max-width:2265px) { .mega-wrapper {grid-template-columns: 470fr 1470fr; } }
@media (max-width:1199px) { .mega-wrapper {gap: 3.4rem; grid-template-columns: 30% 67%; } }
.mega-grid { display: grid; grid-template-columns: repeat(4, 1fr); gap: .3rem; height: fit-content; }
.industry-card { position: relative; overflow: hidden; aspect-ratio: 1.1; text-decoration: none; width: 100%; max-height: 30.3rem; }
.industry-card img { width: 100%; object-fit: cover; transition: 1s; height: 100%; }
.industry-card::before { content: ""; position: absolute; inset: 0; background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent 60%); z-index: 1; }
.industry-card span { position: absolute; left: 18px; bottom: 18px; color: #fff; z-index: 2; font-size: 16px; }
.industry-card:hover img { transform: scale(1.08); }
@media (max-width:1599px) {
.header .container { width: 100%; max-width: 90%; padding-inline: 3rem; margin: auto; }
.mega-count { padding-inline: 3rem 4rem; }

}

@media (max-width:1399px) {
    .mega-wrapper {
        grid-template-columns: 520fr 1450fr;
    }
.mega-btn {
    margin-bottom: 7rem;
}

}

@media (max-width:1299px) {
.mega-count { padding-inline: 0rem 4rem; }
}

@media (max-width:1199px) {
.mega-count { padding-inline: 4rem 9rem; }
.logo figure { width: 12.4rem; }
.main-nav ul { gap: 4.5rem; }

}
@media (max-width:1099px) {

}



@media (max-width:992px) {
.main-nav,.mega-menu, .hamburger{display: none;}
.header_nav { display: flex; justify-content: center;}

}
@media (max-width:991px) {
.header_nav { padding-block: 3rem; }
.logo figure { width: 11.4rem; }

}
@media (max-width:768px) {
    .logo figure {
        width: 9.4rem;
    }
    .header_nav {
        padding-block: 1rem;
    }

}