/* --- Header Wrapper --- */
.header_nav { display: flex; justify-content: space-between; align-items: center; padding-block: 4rem; position: relative; width: 100%; transition: all 0.5s ease-in-out;}
nav.main-nav { margin-left: auto; }
.menu_backdrop{position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity: 0.7; z-index: 3; transition: all 0.5s ease-in-out;}
.header { border-top: 5px solid var(--color-d4); position: fixed; top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.4s ease;}
.header .logo img{transition: all 0.5s ease-in-out;}
.header.header_fix .header_nav{padding-block: 2rem;}
.header.header_fix .logo{max-width: 12rem; }
.header.inner { background-color: #e3e3e4; }
.header.header_fix{width: 100%; background:#efefef; box-shadow: 0 2px 20px rgba(0 0 0 / 10%);}
.header.menu-open { background-color: #ECECEC; }
.main-nav ul { display: flex; gap: 6rem; list-style: none; margin: 0; padding: 0; }
.main-nav ul li { padding-block: 2rem; }
.main-nav ul li a { text-decoration: none; color: var(--color-23); font: var(--font-24); font-weight: normal; transition: color 0.3s ease; }
.main-nav ul>li>a:hover { color: var(--color-c8); }
.main-nav .site_dropdown_menu { position: absolute; top: 100%; background-color: var(--color-c8); display: flex; flex-direction: column; padding: 0; min-width: 30rem; max-width: 30rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); opacity: 0; visibility: hidden; transform: translateY(1rem); pointer-events: none; transition: all 0.3s ease; -webkit-transition: all 0.3s ease; z-index: 11; gap:0; }
.main-nav .site_dropdown { position:relative; }
.main-nav .site_dropdown:hover .site_dropdown_menu { opacity: 1; visibility: visible; transform: translateY(0); pointer-events: auto; }
.main-nav .site_dropdown_menu li { padding:0; border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1); }
.main-nav .site_dropdown_menu a { display: block; font: var(--font-18); color: var(--color-white); padding: 1rem 2rem; }
.main-nav .site_dropdown_menu a:hover { color: var(--color-white); }
/* --- Hamburger Icon Style --- */
.hamburger { display: flex; flex-direction: column; justify-content: space-between; width: 3rem; height: 3rem; cursor: pointer; z-index: 1050; position: relative; margin-left: 6rem; }
.hamburger span { display: block; height: 1px; width: 100%; background-color: var(--color-23); border-radius: 3px; transition: all 0.3s ease-in-out; transform-origin: left center; }
.hamburger.active span { background: #fff; }
.hamburger.active span:nth-child(1) { transform: rotate(45deg); top:.6rem; position: relative; }
.hamburger.active span:nth-child(2) { width: 0%; opacity: 0; }
.hamburger.active span:nth-child(3) { transform: rotate(-45deg); top: 1px; }
.other-links-drawer { position: fixed; top: 0; right: 0; width: 35rem; height: 100vh; background-color: #ffffff; box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1); padding-block: 9rem; padding-inline: 4rem; z-index: 1000; box-sizing: border-box; transform: translateX(100%); transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1); }
.other-links-drawer.open { transform: translateX(0); }
.other-links-drawer ul { list-style: none; padding: 0; margin: 0; }
.other-links-drawer ul li { margin-bottom: 20px; }
.other-links-drawer ul li a { text-decoration: none; color: #111; font:var(--font-18); font-weight: 500; transition: color 0.2s; }
.other-links-drawer ul li a:hover { color: var(--color-c8); }
.nav-overlay { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.4); z-index: 99; opacity: 0; pointer-events: none; transition: opacity 0.3s ease; }
.nav-overlay.show { opacity: 1; pointer-events: auto; }
.logo a { display: flex; align-items: center; gap: 2.4rem; text-decoration: none; }
.logo p { margin: 0; color: #000; font: var(--font-18); text-decoration: none; width: 20rem; }


/* Dropdown */
.other-links-drawer .media-dropdown {
    display: none;
    margin: 2rem 0 0;
    padding: 0 0 0 1rem;
    list-style: none;
  }

  .media-dropdown-wrap.open .media-dropdown{
    min-height: 0;
    overflow: hidden;
    display: block;
  }
  
  .other-links-drawer .media-dropdown li {
    margin-bottom: 1.5rem;
  }
  
  .other-links-drawer .media-dropdown li a {
    font: var(--font-16);
    text-decoration: none;
  }
  
  .other-links-drawer .media-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .media-arrow {
    font-size: 2.2rem;
    line-height: 1;
    transition: transform 0.3s ease;
  }
  
  /* .media-toggle.active .media-arrow {
    transform: rotate(45deg);
  } */