.mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  background: #ECECEC;
  opacity: 0;
  visibility: hidden;
  transform: translateY(25px);
  transition: 0.45s ease;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

.mega-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.mega-wrapper {
  display: flex;
  gap: 70px;
  padding: 60px 0;
  align-items: flex-start;
}

/*==========================
LEFT
==========================*/

.mega-left {
  width: 28%;
}

.mega-left h2 {
  font-size: 36px;
  line-height: 1.35;
  font-weight: 300;
  margin: 0 0 35px;
}

.mega-left h2 span {
  color: #c6002b;
}

.mega-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c6002b;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 55px;
}

.mega-count h3 {
  color: #c6002b;
  font-size: 56px;
  margin: 0 0 10px;
  font-weight: 300;
}

.mega-count p {
  color: #666;
  line-height: 1.6;
  max-width: 220px;
}

/*==========================
GRID
==========================*/

.mega-grid {
  width: 72%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
}

.industry-card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1.1;
  text-decoration: none;
}

.industry-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.industry-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent 60%);
  z-index: 1;
}

.industry-card span {
  position: absolute;
  left: 18px;
  bottom: 18px;
  color: #fff;
  z-index: 2;
  font-size: 16px;
}

.industry-card:hover img {
  transform: scale(1.08);
}