.mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  background: #ECECEC;
  opacity: 0;
  visibility: hidden;
  transform: translateY(25px);
  transition: 0.45s ease;
  /* box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08); */
  z-index: 999;
}

.mega-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.mega-wrapper {
  padding: 3.7rem 0 13.8rem;
  display: grid;
  grid-template-columns: 41.6rem auto;
  gap: 8.4rem;
  align-items: flex-start;
}



/*==========================
LEFT
==========================*/

.mega-left {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mega-left h2 {
  font: var(--font-42);
  font-weight: 300;
  margin: 0 0 3.8rem;
  letter-spacing: -1.26px;
}

.mega-left h2 span {
  color: #c6002b;
}

.mega-count{
  display: flex;
  padding: 3rem;
  gap: 5rem;
  position:relative;
}

.mega-count .before,
.mega-count .after{
  position:absolute;
  width:50%;
  top:0;
  height:100%;
  left:0;
}

.mega-count .after{
  right:0;
  left:unset;
}

.mega-count .before:before{
  position:absolute;
  content:'';
  height:0.6rem;
  width: 0.6rem;
  top:0;
  left:0;
  border-left: 1px solid #C83030;
  border-top:1px solid #C83030;
}

.mega-count .before:after{
  position:absolute;
  content:'';
  height:0.6rem;
  width: 0.6rem;
  border-left: 1px solid #C83030;
  border-bottom:1px solid #C83030;
  bottom:0;
  left:0;
}

.mega-count .after:before{
  position:absolute;
  content:'';
  height:0.6rem;
  width: 0.6rem;
  top:0;
  right:0;
  border-right: 1px solid #C83030;
  border-top:1px solid #C83030;
}

.mega-count .after:after{
  position:absolute;
  content:'';
  height:0.6rem;
  width: 0.6rem;
  border-right: 1px solid #C83030;
  border-bottom:1px solid #C83030;
  bottom:0;
  right:0;
}

.mega-count .total,
.mega-count .para{
  margin:0;
}

.mega-btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c6002b;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 55px;
}

.mega-count .total {
  color: #c6002b;
  font:var(--font-90);
  font-weight: 100;
  position:relative;
}

.mega-count .total sup{
  font:var(--font-32);
  position: absolute;
  /* top: 3rem; */
  margin-left: 0.5rem;
  top:0;
}

.mega-count .para {
  line-height: 1.6;
  font:var(--font-21);
  font-weight: normal;
  color: #231F20;
}

/*==========================
GRID
==========================*/

.mega-grid {
  /* width: 72%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
}

.industry-card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1.1;
  text-decoration: none;
}

.industry-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.industry-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent 60%);
  z-index: 1;
}

.industry-card span {
  position: absolute;
  left: 18px;
  bottom: 18px;
  color: #fff;
  z-index: 2;
  font-size: 16px;
}

.industry-card:hover img {
  transform: scale(1.08);
}