.happenings-section {background-color: var(--color-c8);padding-block: 12.3rem 13rem;color: #ffffff;overflow: hidden;}
.happening-header {display: flex;justify-content: space-between;align-items: flex-end;margin-bottom: 4rem;padding-left: 5rem;padding-right: 25rem;}
.happening-header blockquote, .happening-header p{color:#fff;}
.happenings-section .slider-outer-wrapper {margin-left: calc((100vw - min(1505px, 68.40909090vw)) / 2 + 6.5rem);overflow: hidden;}
.happenings-slider { overflow: visible !important; width: 100%; }
.happenings-section .swiper-slide { height: auto; display: flex; flex-direction: column; }
.happening-image { width: 100%; aspect-ratio: 1.45 / 1; overflow: hidden; }
.happening-image img { width: 100%; height: 100%; object-fit: cover; }
.happening-content { margin-block: 3rem 0rem; }
.happening-content h3 {font: var(--font-21);font-weight: 300;line-height: 1.4;margin: 0 0 0.8rem 0;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;color: #ffffff;letter-spacing: 0.42px;padding-right: 4rem;}
.happening-date { font: var(--font-16); opacity: 0.6; }
.happenings-section .more_btn {background: #fff;align-items: center;justify-content: center;top: -3rem;position: relative;}
.happenings-section .more_btn:hover { background: #E6E6E6;}
.happenings-section .more_btn svg{stroke:currentColor; color: var(--color-c8);}
@media (max-width:992px) {
.happening-header{display: block; padding:0;text-align: center;}
.happenings-section .more_btn{top: 0; margin-top: 2.5rem; width: 2.5rem; height: 2.5rem;}
.happenings-section .swiper-wrapper { flex-wrap: wrap; }
.happenings-section .swiper-slide { display: none; }
.happenings-section .swiper-slide:nth-child(1) { display: block; }
.happenings-section .swiper-slide:nth-child(2) { display: block; }
.happenings-section .slider-outer-wrapper { padding-left: 0; margin: 0; width: 100%; }
.happenings-section { padding: 5rem 1.5rem; }
.happening-content { margin-block: 1.5rem 2.8rem; }
.happenings-section .swiper-slide { width: 100% !important; }
}