.home_banner {
    position: relative;
    display: grid;
    min-height: 100vh;
    overflow: hidden;
}

.banner_caption .banner_title>p {
    position: relative;
    font: var(--font-42);
    color: var(--color-23);
    letter-spacing: -0.42px;
    z-index: 10;
    font-weight: 300;
}

.banner_caption .banner_title>p>b {
    color: var(--color-c8);
    font-weight: normal;
}

.banner_caption .banner_title>em {
    margin-top: 2rem;
    font: var(--font-16);
    color: var(--color57);
    display: block;
    position: relative;
    z-index: 9;
}

.banner_caption .banner_title {
    position: relative;
    margin-inline: auto; margin-top: 28rem;
    text-align: center;
}

.down_btn {
    position: relative;
    z-index: 10;
}

.line-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    animation: textFadeUp 1.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: .9s;
}

.line-wrap {
    position: relative;
    width: .4rem;
    height: 16rem;
    background: #81828626;
    margin: 0 auto;
    overflow: hidden;
}

.line-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--color-c8);
}

.video_caption {
    position: relative;
    height: inherit;
    mix-blend-mode: lighten;
    will-change: auto;
    z-index: 2;
}

.video_caption::after {
    content: '';
    position: absolute;
    bottom: -100vw;
    left: -100vw;
    width: 200vw;
    height: 200vw;
    background: #efefef;
    background-position: bottom center;
    background-size: 100%;
    z-index: -1;
    opacity: 1;
}

.video_caption.transparent {
    background: transparent;
    transition: background 0.6s ease;
    -webkit-transition: background 0.6s ease;
    -moz-transition: background 0.6s ease;
    -ms-transition: background 0.6s ease;
    -o-transition: background 0.6s ease;
}

.video_caption.transparent::after {
    background: transparent;
    transition: background 0.6s ease;
    -webkit-transition: background 0.6s ease;
    -moz-transition: background 0.6s ease;
    -ms-transition: background 0.6s ease;
    -o-transition: background 0.6s ease;
}

.desktop_video {
    opacity: 0;
    transition: none;
}

.home_banner>.desktop_video {
    grid-area: 1 / 1;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    opacity: 0.5;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
}

.home_banner>.desktop_video.visible {
    opacity: 1;
    z-index: 10;
}

.video_text svg path {
    fill: rgb(0 0 0);
}

.video_text {
    transform-origin: center center;
    will-change: transform;
    overflow: visible;
    max-width: 80rem;
    margin-inline: auto; }

@media (max-width: 2199px) {
    .banner_caption .banner_title {
        margin-top:10rem;
    }

    .video_text {
        max-width: 60rem;
    }
}