.no_data_parent{
    min-height: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no_data_parent .title{
    font:var(--font-36);
    font-weight: 600;
}

.no_data_parent .para{
    font:var(--font-18);
    font-weight: 500;
    margin-top:0.5rem;
}